.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Clinics Section */
.clinicsSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  color: var(--black);
  margin: 0;
}

.description {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--black);
  max-width: 700px;
}

.clinicsImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-secondary);
  border-radius: 24px;
}

.clinicsImage {
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.restrictedCaption {
  font-size: 14px;
  font-weight: 600;
  color: var(--fg-secondary);
  text-align: center;
}
