.hero {
  background-color: var(--white);
  padding: 16px;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 16px;
}

.heroImage {
  object-fit: contain;
}

.heroTextContainer {
  flex: 1;
}

.heroText {
  background-color: var(--bg-secondary);
  border-radius: 32px;
  padding: 56px 56px 100px 56px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-top: 4px;
  gap: 20px;
  letter-spacing: 0;
}

.heroText h2 {
  margin: 0 0 8px 0;
  color: var(--black);
  font-size: 44px;
  font-weight: 700;
}

.heroText p {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  letter-spacing: 0;
}

.heroBottom {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

/* Stats Card */
.countersContainer {
  width: 592px;
  height: 200px;
  margin: 16px 0 0 0;
  background-color: var(--bg-secondary);
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.counter b {
  font-size: 32px;
}

.counter span {
  font-size: 16px;
}

.divider {
  width: 1px;
  height: 40px;
  background-color: var(--line);
}

/* CV Card */
.cvContainer {
  width: 288px;
  height: 200px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 16px;
  background: #fff6f9;
}

.cvEmoji {
  width: 44px;
  height: 44px;
}

.cvButton {
  width: 200px;
  height: 56px;
  background-color: #1a1b1d;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  border-radius: 999px;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 8px;
}

.cvButton:hover {
  background-color: #292b2e;
}

/* Responsive */
@media screen and (max-width: 1210px) {
  .hero {
    padding-left: 32px;
    padding-right: 32px;
  }

  .container {
    justify-content: center;
  }

  .heroImage {
    display: none;
  }

  .heroText {
    gap: 16px;
    padding: 30px;
  }

  .heroText h2 {
    font-size: 32px;
  }

  .heroText p {
    font-size: 16px;
  }

  .countersContainer {
    width: 60%;
    height: 100px;
  }

  .counter b {
    font-size: 20px;
  }

  .counter span {
    font-size: 14px;
  }

  .cvContainer {
    width: 40%;
    flex-direction: row-reverse;
    height: 100px;
  }

  .cvButton {
    width: 50%;
  }
}

@media screen and (max-width: 750px) {
  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heroBottom {
    flex-direction: column;
  }

  .countersContainer {
    width: 100%;
  }

  .cvContainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 190px;
  }

  .cvButton {
    width: 80%;
    height: 56px;
  }
}
