.askbefore {
  padding-top: 80px;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 1250px) {
    padding: 80px 40px 0px 40px;
  }
  @media screen and (max-width: 1100px) {
    padding-top: 40px;
    flex-direction: column;
    max-width: 790px;
    justify-content: center;
    align-items: start;
    gap: 40px;
  }
  @media screen and (max-width: 800px) {
    padding: 80px 20px 0px 20px;
  }
  @media screen and (max-width: 375px) {
    padding-top: 32px;
  }
}
.askbefore__content {
  display: flex;
  flex-direction: column;
  gap: 104px;
  max-width: 790px;
  width: 100%;
  padding-bottom: 104px;
}
