.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--black);
}

/* Description */
.descriptionBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.description {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--black);
  max-width: 700px;
}

/* Highlight Block */
.highlightBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px;
  background: var(--orange-50);
  border-radius: 24px;
  text-align: center;
}

.starIcon {
  font-size: 32px;
}

.highlightText {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--black);
  max-width: 700px;
}

/* Image */
.imageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  @media screen and (max-width: 1100px) {
    height: 300px;
  }
}

.imageCaption {
  font-size: 14px;
  font-weight: 600;
  color: var(--fg-secondary);
  text-align: center;
}
