@font-face {
  font-family: "Vela Sans";
  src: url("../fonts/VelaSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Vela Sans";
  src: url("../fonts/VelaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
:root {
  --black: #171717;
  --button-secondary: #30353d;
  --fg-tabs: #8588a2;
  --fg-secondary: #a5a6ac;
  --border: #f1f1f2;
  --bg-secondary: #f6f6f6;
  --white: #ffffff;
  --hover: #b9b9b9;
  --line: #e6e6e7;
}

.about {
  width: 100%;
  margin-top: 80px;
}
.wrapper {
  max-width: 746px;
  width: 100%;
  margin: 0 auto;
}
.first-block {
  display: flex;
  gap: 48px;
  flex-wrap: wrap-reverse;
  justify-content: center;
  .portrait {
    width: 280px;
    height: 280px;
    border-radius: 24px;
    object-fit: cover;
  }
  .name-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;

    .name {
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -0.02em;
      color: var(--black);
    }
    .description {
      font-size: 20px;
      font-weight: 600;
      color: var(--black);
      line-height: 28px;
      letter-spacing: -0.02em;
      max-width: 413px;
    }
    .quote {
      position: absolute;
      width: 24px;
      top: 70px;
      left: 0;
    }
  }
}

.second-block {
  margin-top: 50px;
  padding-bottom: 40px;
  border-bottom: 2px solid var(--border);

  .second-block-text {
    font-size: 14px;
    font-weight: 600;
    color: var(--black);
    line-height: 22px;
    letter-spacing: -0.02em;
  }
}

.third-block {
  margin-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .third-block-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
    line-height: 32px;
    letter-spacing: -0.02em;
  }
  .third-block-text {
    font-size: 14px;
    font-weight: 600;
    color: var(--black);
    line-height: 22px;
    letter-spacing: -0.02em;
  }
}

.fourth-block {
  display: flex;
  gap: 16px;
  padding-bottom: 80px;
  .U {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .fourth-block-title {
      font-size: 24px;
      font-weight: 700;
      color: var(--black);
      line-height: 32px;
      letter-spacing: -0.02em;
    }
    .fourth-block-text {
      font-size: 14px;
      font-weight: 600;
      color: var(--black);
      line-height: 22px;
      letter-spacing: -0.02em;
    }
  }
}

.fifth-block {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  background-color: var(--black);
  width: 100%;
  align-items: center;
  border-radius: 32px;
  .fifth-block-text {
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    line-height: 32px;
    letter-spacing: -0.02em;
  }
  a {
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
    line-height: 24px;
    background-color: var(--white);
    letter-spacing: -0.02em;
    text-align: center;
    border-radius: 100px;
    text-decoration: none;
    width: 203px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .arrow-right {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 750px) {
  .about {
    margin-top: 36px;
  }
  .first-block {
    padding: 0 32px;
    .portrait {
      max-width: 100%;
      width: 335px;
      height: 386px;
    }
  }
  .second-block {
    padding: 0 32px 32px 32px;
  }
  .third-block {
    padding: 0 32px 32px 32px;
    margin-top: 32px;
  }
  .fourth-block {
    padding: 0 32px;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .fifth-block {
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 30px;
  }
  footer {
    margin-top: 80px;
  }
}

@media screen and (max-width: 400px) {
  .about {
    margin-top: 36px;
  }
  .first-block {
    padding: 0 20px;
    .portrait {
      max-width: 100%;
      width: 335px;
      height: 386px;
    }
    .description {
      font-size: 16px !important;
    }
  }
  .second-block {
    padding: 0 20px 20px 20px;
  }
  .third-block {
    padding: 0 20px 20px 20px;
    margin-top: 20px;
  }
  .fourth-block {
    padding: 0 20px;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .fifth-block {
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  footer {
    margin-top: 80px;
  }
}
