* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
@font-face {
  font-family: "Vela Sans";
  src: url("../fonts/VelaSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Vela Sans";
  src: url("../fonts/VelaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --black: #171717;
  --accent: #6a8cff;
  --button-secondary: #30353d;
  --fg-tabs: #8588a2;
  --fg-secondary: #a5a6ac;
  --border: #f1f1f2;
  --bg-secondary: #f6f6f6;
  --white: #ffffff;
  --line: #e6e6e7;
  --hover: #cfcfcf;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
@media screen and (max-width: 1200px) {
  header {
    padding: 0 32px;
  }
}
@media screen and (max-width: 750px) {
  header {
    padding: 0 20px;

    nav {
      display: none;
    }
    .header-right {
      display: none;
    }
  }

  .profile .mobile-nav-button {
    display: block !important;
    border: none;
    background: none;
    cursor: pointer;
    width: 44px;
    height: 44px;
    background: #292929;
    border-radius: 50%;
    position: absolute;
    right:7px;

    img {
      width: 4px;
    }
  }

  footer {
    height: 70px;
    padding-block: 0 !important;
    display: flex;
    align-items: center;
    .container {
      margin: 0;
    }
    p {
      display: none;
    }
    h3 {
      font-size: 14px;
      color: var(--fg-secondary);
      font-weight: 600;
      padding: 0 30px;
      margin-block: 0 !important;
    }
  }
}

.header-container {
  max-width: 1200px;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: var(--black);
  text-align: center;
  border-radius: 999px;
  margin-top: 16px;
  position: relative;

  a {
    font-weight: 600;
    font-size: 14px;
    color: var(--white);
    text-decoration: none;
    transition: 300ms;

    &:hover {
      color: var(--hover);
    }
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 8px;
}

.profile > img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.header-center {
  display: flex;
  justify-content: center;
}

.header-right {
  display: flex;
  align-items: center;
  padding-right: 8px;

  .select-container {
    display: flex;
    align-items: center;
    width: 96px;
    height: 44px;
    background-color: var(--button-secondary);

    justify-content: center;
    border-radius: 22px;
    padding: 0 8px;
    gap: 8px;
    p {
      color: var(--white);
      font-size: 14px;
      font-weight: 600;
    }
  }

  .select-container .flag {
    width: 24px;
    height: 24px;
  }

  .select-container select {
    font-family: "Vela Sans", sans-serif;
    flex: 1;
    background: transparent;
    border: none;
    color: var(--white);
    font-size: 14px;
  }
}

.mobile-nav-button {
  display: none;
}

.header-mobile {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  right: 7px;
  top: 70px;
  width: 207px;
  background-color: var(--black);
  border-radius: 20px;
  z-index: 100;
  pointer-events: none;

  nav {
    display: block;

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      list-style: none;
      padding: 12px;
      margin: 0;

      li {
        text-align: start;
        color: var(--white);

        a {
          color: var(--white);
          text-decoration: none;
          font-weight: 600;
          font-size: 14px;

          &:hover {
            color: var(--hover);
          }
        }

        .select-container {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 24px;
            height: 24px;
          }

          p {
            font-size: 16px;
            font-weight: 600;
            color: var(--white);
          }
        }
      }
    }
  }
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0 0 8px 0;
  color: var(--black);
  font-size: 44px;
  font-weight: 700;
}

h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

body {
  font-family: "Vela Sans", sans-serif;
  overflow-x: hidden;
}

.hero {
  background-color: var(--white);
  padding: 16px;
  position: relative;

  .container > img {
    position: absolute;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}

.counters-container {
  width: 592px;
  height: 200px;
  margin: 16px 0 0 0;
  background-color: var(--bg-secondary);
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .counter-left,
  .counter-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .divider {
    width: 1px;
    height: 40px;
    background-color: var(--line);
  }
}

.hero-text {
  background-color: var(--bg-secondary);
  border-radius: 32px;
  padding: 56px 56px 100px 56px;
  display: flex;
  flex-direction: column;
  width: 896px;
  box-sizing: border-box;
  margin-left: auto;
  margin-top: 4px;
  gap: 12px;
  letter-spacing: -0.02em;
}

.hero-bottom {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

p {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  letter-spacing: -0.02em;
}

b {
  font-size: 32px;
}

span {
  font-size: 16px;
}

.cv-container {
  width: 288px;
  height: 200px;
  background-color: #4365cc;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 16px;
  background: linear-gradient(200deg, #5575d2 45%, #4365cc 90%);
}

.cv-emoji {
  width: 44px;
  height: 44px;
}

.cv-button {
  width: 196px;
  height: 42px;
  background-color: #6486eb;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  border-radius: 999px;
}

.cases {
  background-color: var(--white);
  color: var(--black);
  padding-block: 160px;
  text-align: center;

  hgroup {
    margin-bottom: 56px;

    h2 {
      font-size: 44px;
      letter-spacing: -0.02em;
    }

    p {
      font-size: 20px;
      letter-spacing: -0.02em;
    }
  }
}

.projects {
  display: grid;
  gap: 12px;

  .project:nth-child(2) {
    height: 340px;
  }

  .project:nth-child(3) {
    height: 340px;
  }
}

.project {
  min-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0;

  &:hover h3 {
    color: var(--accent);
  }

  .content {
    background-color: var(--bg-secondary);
    text-align: initial;
    padding: 48px;
    border-radius: 32px;
    width: 774px;
    box-sizing: border-box;

    h3 {
      font-size: 24px;
      font-weight: 700;
      margin: 0 0 4px 0;
      letter-spacing: -0.02em;
      transition: 300ms;
    }

    h4 {
      color: var(--fg-secondary);
      font-size: 14px;
      font-weight: 600;
      margin: 0 0 20px 0;
      letter-spacing: -0.02em;
    }

    p {
      font-size: 16px;
      font-weight: 600;
      margin: 20px 0 48px 0;
      letter-spacing: -0.02em;
    }
  }

  .company {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 70px;

    h5 {
      font-size: 20px;
      font-weight: 600;
    }

    .tags {
      margin: 48px 0 0 0;
    }
  }

  .tags {
    color: var(--fg-tabs);
    display: flex;
    list-style: none;
    padding: 0;
    gap: 8px;
    margin: 0;

    li {
      font-size: 14px;
      font-weight: 600;
      padding: 13px 18px;
      background-color: var(--white);
      border-radius: 999px;
    }
  }

  &:nth-child(2) aside {
    background: linear-gradient(204deg, #7796ff 0%, #456fff 100%);
  }

  &:nth-child(3) aside {
    background: linear-gradient(209deg, #48d1ff 0%, #37afd8 100%);
  }

  aside {
    background-color: var(--bg-secondary);
    padding: 48px;
    border-radius: 32px;
    width: 410px;
    height: 340px;
    overflow: hidden;
    box-sizing: border-box;
    display: grid;
    place-items: center;

    &:has(img) {
      padding: 60px 55px 0;
      height: 410px;
      background: linear-gradient(211deg, #ff60a0 0%, #d51d68 100%);
    }

    .points {
      display: grid;
      place-items: center;
      list-style: none;
      gap: 8px;
      padding: 0;

      li {
        background-color: var(--white);
        border-radius: 999px;
        font-size: 16px;
        font-weight: 600;
        padding: 9px 0 9px 0;
        width: 240px;
      }
    }

    img {
      max-width: 300px;
      max-height: 610px;
    }
  }
}

.pet-projects {
  background-color: var(--white);
  text-align: center;
  padding-block: 0 180px;

  p {
    margin-bottom: 56px;
  }

  .projects-list {
    margin: 0;
    text-align: initial;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;

    .pet-project {
      background-color: var(--bg-secondary);
      border-radius: 32px;
      padding: 48px;
      list-style: none;
      height: 900px;
      width: 590px;
      box-sizing: border-box;
      flex-shrink: 0;
      text-align: center;
      transition: 300ms;

      &:hover {
        background-color: #e8e8eb;
      }

      .name {
        display: flex;
        align-items: center;
        gap: 16px;
        height: 40px;
      }

      img[alt="logo"] {
        width: 40px;
        height: 40px;
        margin-block: auto;
      }

      img {
        margin-top: 40px;
        margin-bottom: 56px;
        width: 300px;
        height: 600px;
      }

      h3,
      p {
        text-align: left;
      }
    }

    .horizontal {
      width: 100%;
      height: 600px;
      overflow: hidden;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      justify-content: space-between;
      gap: 72px;

      .name {
        display: flex;
        align-items: center;
        gap: 16px;
        height: 40px;
      }

      img[alt="logo"] {
        width: 40px;
        height: 40px;
        margin-block: auto;
      }

      .title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 280px;
      }

      img:nth-child(2) {
        height: 850px;
        width: 420px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        align-self: baseline;
        margin-top: 40px;
      }

      img:nth-child(3) {
        max-width: 240px;
        height: auto;
        align-self: center;
        margin-right: 24px;
      }
    }

    h3 {
      margin: 0;
      font-size: 24px;
    }

    p {
      margin: 0;
      font-size: 20px;
    }
  }
}

.ui-shots {
  margin: auto;
  width: max-content;
  text-align: center;
  align-content: center;

  p {
    margin-bottom: 56px;
  }

  .shots {
    display: grid;
    gap: 16px;
    grid-template-columns: 350px 410px 410px;
    grid-template-rows: 610px 500px 610px;

    > div {
      background-color: var(--bg-secondary);
      border-radius: 32px;
      text-align: center;
      align-content: center;
      overflow: hidden;
      transition: 300ms;

      &:hover {
        background-color: #e8e8eb;
      }
    }

    > :nth-child(2) {
      grid-column: span 2;
    }

    > :nth-child(3) {
      grid-column: span 3;
      padding-top: 60px;
    }
  }
}

footer {
  background-color: var(--black);
  color: var(--white);
  padding-block: 40px;
  margin-top: 180px;

  .container {
    display: flex;
    justify-content: space-between;

    h3 {
      margin-block: 0 12px;
      font-size: 14px;
    }

    p {
      margin: 0;
      font-size: 14px;
    }
  }
}
